
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="~/Content/AboutPageDesign.css" rel="stylesheet" />
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="#">Contact Us</a>
                </div>
                <div class="col-4 text-center logoClass">
                    <a class="blog-header-logo " href="../Home/Index">Dhar Dorkar</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="../Register/Index">Sign up</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 " href="../Home/Index">Home</a>
                <a class="p-2 " href="../Register/Index">Login</a>
                <a class="p-2 " href="#aboutId">About</a>
                <a class="p-2 " href="../Home/Index">Trandings</a>
                @*<a class="p-2 text-muted" href="#">Culture</a>
                <a class="p-2 text-muted" href="#">Business</a>
                <a class="p-2 text-muted" href="#">Politics</a>
                <a class="p-2 text-muted" href="#">Opinion</a>
                <a class="p-2 text-muted" href="#">Science</a>
                <a class="p-2 text-muted" href="#">Health</a>
                <a class="p-2 text-muted" href="#">Style</a>
                <a class="p-2 text-muted" href="#">Travel</a>*@
            </nav>
        </div>


        <div class="jumbotron p-4 p-md-5 text-white rounded ">
            <div class="col-md-6 px-0 hero">
                <h4 class="display-5 font-italic">Contact Us for anykind of informations</h4>
                <p class="lead my-3">
                    <span><img src="https://img.icons8.com/color/48/000000/outgoing-call.png" style="width:30px" /></span>  01521464365 <br />

                    <span><img src="https://img.icons8.com/color/48/000000/important-mail.png" style="width:30px" /></span>  dhardorkar@gmail.com <br />
                </p>
                <p class="lead mb-0"><a href="#" class="text-white ">Visit Support Site...</a></p>
            </div>
        </div>

        <div class="row aboutheading">
            <h2>About Us</h2>
        </div>

        <div class="row mb-2 my-4" id="aboutId">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Back-End Developer</strong>
                        <h4 class="mb-0">Minhajul Islam</h4>
                        <div class="mb-1 text-muted">170104062</div>
                        <p class="card-text mb-auto">Working With This project was fun & exciting!</p>
                        <a href="#" class="stretched-link">Contact Him</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="~/Images/ashik.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title></img>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Front-End Developer</strong>
                        <h4 class="mb-0">Shazid Morshed</h4>
                        <div class="mb-1 text-muted">170104069</div>
                        <p class="mb-auto">This project was really fun.Looking forward to work on more new projects.Cheerz!</p>
                        <a href="#" class="stretched-link">Contact Him</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="~/Images/shazid.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title></img>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 my-4">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Back-End Developer</strong>
                        <h4 class="mb-0">Ishraq Ahmed</h4>
                        <div class="mb-1 text-muted">170104063</div>
                        <p class="card-text mb-auto">This project was really fun to work on!!.</p>
                        <a href="#" class="stretched-link">Contact him</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="~/Images/resham.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title></img>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Front-End Developer</strong>
                        <h4 class="mb-0">Sabrina Binte Zahir</h4>
                        <div class="mb-1 text-muted">170104064</div>
                        <p class="mb-auto">A Project with full of fun!.</p>
                        <a href="#" class="stretched-link">Contact Her</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="~/Images/sabrina.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title></img>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md">
                <img src="https://img.icons8.com/ios-filled/50/000000/c-sharp-logo.png" width="20px" height="20px"/>
                <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>




    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>




