@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>DharDorkar</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            Hi Sir/Madam
                We just need to verify your Email address for complete your registration!
                click<a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
